
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <section>
        <blockquote>
            <p>
                <img src="~/Content/img/remont.jpg" width="300" height="311" />
                <img src="~/Content/img/remont.jpg" width="300" height="311" />
                <img src="~/Content/img/remont.jpg" width="300" height="311" />
            </p>
            <p>
                Мы отремонтируем и настроим железо, будь то маленький ноутбук или большой сервер.
                Установим или обновим программу и защитим вас от вирусов.
                Настроим интернет, телефонию и создадим надёжную компьютерную сеть.
            </p>
        </blockquote>
        <p>Добро пожаловать на наш сайт!</p>
    </section>
</div>

